@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    font-size: 18px;
}
main{
    width: 80%;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content{
    width: 80%;
    margin: 20px auto;
    text-align: center;
   
}
.book-list{
   border: 2px solid black;
   width: 100%;
   justify-content: left;
}
.book-list li{
    list-style: none;
    background-color: gainsboro;
    display: flex;
    justify-content:space-between;
    margin-top: 0px;
    padding: 5px 10px;
    margin-left: -40px;
}

.book-list li:nth-child(odd) {
    background-color: #fff;
}
.book-list li p{
    margin: 10px 20px;
}
.book-list li button,
#add {
    padding: 7px 20px;
    border: 2px solid #000;
    outline: none;
    background-color: rgb(253, 251, 251);
    font-weight: bold;
    box-shadow: -4px 4px #000;
}
.book-list li button:hover{
    background-color: darkgray;
    color: black;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    width: 40%;
}

#form input {
    padding: 10px 15px;
    width: 100%;
    border: 2px solid #000;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Grape Nuts', cursive;
}

#form input:focus {
    outline: none !important;
    border-color: #719ece;
    box-shadow: 0 0 3px #719ece;
}
